<html>
  <head>
    <title>{% block title %}Mediagoblin{% endblock title %}</title>
    {# <link rel="stylesheet" type="text/css"
          href="{{ request.staticdirect('/css/base.css') }}"/> #}
  </head>

  <body>
  <body>
    {% block mediagoblin_body %}
      {% block mediagoblin_header %}
        <table id="mediagoblin_header">
          <tr>
            <td id="mediagoblin_logo">
              {% block mediagoblin_logo %}
                <a href="{{ request.urlgen('index') }}">Mediagoblin</a>
              {% endblock %}
            </td>
            <td>{% block mediagoblin_header_title %}Mediagoblin Home{% endblock %}</td>
          </tr>
          <tr>
            <td></td>
            <td>
              {% block mediagoblin_header_subtitle %}
                Clever subtitle here!
              {% endblock %}</td>
          </tr>
          {% if request.user %}
            <tr>
              <td></td>
              <td>
                Welcome {{ request.user['username'] }}! --
                <a href="{{ request.urlgen('mediagoblin.auth.logout') }}">
                  Logout</a>
              </td>
            </tr>
          {% else %}
            <tr>
              <td></td>
              <td>
                <a href="{{ request.urlgen('mediagoblin.auth.login') }}">
                  Login</a>
              </td>
            </tr>
          {% endif %}
        </table>
      {% endblock %}
      <div id="mediagoblin_content">
        {% block mediagoblin_content %}
        {% endblock mediagoblin_content %}
      </div>
    {% endblock mediagoblin_body %}
  </body>
</html>
