[submodule "pdf.js"]
	path = pdf.js
	url = git://github.com/mozilla/pdf.js.git
[submodule "extlib/pdf.js"]
	path = extlib/pdf.js
	url = git://github.com/mozilla/pdf.js.git
[submodule "extlib/skeleton"]
	path = extlib/skeleton
	url = git://github.com/dhg/Skeleton.git
[submodule "extlib/sandyseventiesspeedboat"]
	path = extlib/sandyseventiesspeedboat
	url = https://github.com/jpope777/sandyseventiesspeedboat-mg.git
