[buildout]
develop = . 
parts = mediagoblin make_user_dev_dirs

[mediagoblin]
recipe=zc.recipe.egg
interpreter=python
dependent-scripts = true
eggs=
    python-dateutil>=1.5.0,<2.0.0
    mediagoblin
entry-points = 
    nosetests=nose:run_exit
    paster=paste.script.command:run


[make_user_dev_dirs]
recipe = mediagoblin:make_user_dev_dirs
path = user_dev