recursive-include mediagoblin/i18n *.mo
recursive-include mediagoblin/templates *.html *.txt *.xml
recursive-include mediagoblin/static *.js *.css *.png *.svg *.ico
recursive-include mediagoblin/tests *.ini
recursive-include docs *.rst *.html
include mediagoblin/config_spec.ini
