setuptools
python-dateutil
PasteScript
wtforms
py-bcrypt
pytest>=2.3.1
pytest-xdist
werkzeug>=0.7
celery>=3.0
kombu
jinja2
sphinx
Babel>=1.0
argparse
webtest<2
ConfigObj
Markdown
sqlalchemy<0.9.0, >0.8.0
sqlalchemy-migrate<0.8
mock
itsdangerous
pytz
oauthlib
unidecode
jsonschema
requests
pyld
ExifRead
six<2
lxml
pillow
