.audio-spectrogram {
    position: relative;
}
.playhead {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(134, 212, 177, 0.3);
    border-right: thin solid #ffaa00;
    height: 100%;
    -webkit-transition: width .1s ease-out;
    -moz-transition: width .1s ease-out;
}
.audio-control-play-pause {
    position: absolute;
    bottom: 0;
    left: 5px;
    cursor: pointer;
    /* background: rgba(0, 0, 0, 0.7); */
    font-size: 40px;
    width: 50px;
    text-shadow: 0 0 10px black;
}
    .audio-control-play-pause.playing {
        color: #b71500;
    }
    .audio-control-play-pause.paused {
        color: rgb(134, 212, 177);
    }
.buffered {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    background: rgba(134, 177, 212, 1);
    cursor: pointer;
}
.seekbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.audio-currentTime {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}
