body {
  background-color: #272727;
  color: #f7f7f7;
  font-family: sans-serif;
  padding:none;
  margin:0px;
  height:100%;
}

form {
  margin:0px;
  padding:0px;
}

/* Carter One font */

@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: normal;
  src: local('CarterOne'), url('http://themes.googleusercontent.com/font?kit=VjW2qt1pkqVtO22ObxgEBRsxEYwM7FgeyaSgU71cLG0') format('woff');
}

/* text styles */

h1 {
  font-family: 'Carter One', arial, serif;
  margin-bottom: 20px;
  margin-top:40px;
}

p {
  font-family: sans-serif;
  font-size:16px;
}

a {
  color: #86D4B1;
}

label {
  font-weight: normal;
}

/* website structure */

.mediagoblin_body {
  position:relative;
  min-height:100%;
}

.mediagoblin_header {
  width:100%;
  height:36px;
  background-color:#393939;
  padding-top:14px;
  margin-bottom:40px;
}

.mediagoblin_footer {
  width:100%;
  height:26px;
  background-color:#393939;
  bottom:0px;
  padding-top:8px;
  position:absolute;
  text-align:center;
  font-size:14px;
  color:#999;
}

.mediagoblin_content {
  padding-bottom:74px;
}

ul.mediagoblin_messages {
  list-style:none inside;
  color:#393932;
  margin:2px;
  padding:2px;
}

ul.mediagoblin_messages li {
  background-color:#d4d4d4;
  border-style:solid;
  border-width:3px;
  border-color:#959595;
  margin:5px;
  padding:8px;
}

ul.mediagoblin_messages li.message_success {
  background-color: #88d486;
  border-color: #5bba59;
}

ul.mediagoblin_messages li.message_warning {
  background-color: #d4c686;
  border-color: #baa959;
}

ul.mediagoblin_messages li.message_error {
  background-color: #d48686;
  border-color: #ba5959;
}

ul.mediagoblin_messages li.message_info {
  background-color: #86b9d4;
  border-color: #5998ba;
}

ul.mediagoblin_messages li.message_debug {
  background-color: #aa86d4;
  border-color: #8659ba;
}

a.mediagoblin_logo {
  width:34px;
  height:25px;
  margin-right:10px;
  background-image:url('../images/icon.png');
  background-position:0px 0px;
  display:inline-block;
}

a.mediagoblin_logo:hover {
  background-position:0px -28px;
}

.mediagoblin_header_right {
  float:right;
}

/* common website elements */

.button {
  font-family:'Carter One', arial, serif;
  height:32px;
  min-width:99px;
  background-color:#86d4b1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#86d4b1), to(#62caa2)); 
  background-image: -webkit-linear-gradient(top, #86d4b1, #62caa2); 
  background-image:    -moz-linear-gradient(top, #86d4b1, #62caa2); 
  background-image:     -ms-linear-gradient(top, #86d4b1, #62caa2); 
  background-image:      -o-linear-gradient(top, #86d4b1, #62caa2); 
  background-image:         linear-gradient(top, #86d4b1, #62caa2);
  box-shadow:0px 0px 4px #000;
  border-radius:5px;
  border:none;
  color:#272727;
  margin:10px 0px 10px 15px;
  font-size:1em;
  text-align:center;
  padding-left:11px;
  padding-right:11px;
}

/* forms */

.form_box {
  background-color:#393939;
  background-image:url("../images/background_lines.png");
  background-repeat:repeat-x;
  font-size:18px;
  padding-bottom:30px;
  padding-top:1px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  float:none;
}

.edit_box {
  background-image:url("../images/background_edit.png");
}

.form_box h1 {
  font-size:28px;
}

.form_field_input input, .form_field_input textarea {
  width:100%;
  font-size:18px;
}

.form_field_box {
  margin-bottom:24px;
}

.form_field_label,.form_field_input {
  margin-bottom:4px;
}

.form_field_error {
  background-color:#87453b;
  border:none;
  font-size:16px;
  padding:9px;
  margin-top:8px;
  margin-bottom:8px;
}

.form_submit_buttons {
  text-align:right;
}

/* media pages */

.media_image{
  width:640px;
}

.media_sidebar{
  width:280px;
}

/* comments */

.comment_author {
  margin-bottom:40px;
  padding-top:4px;
}

.comment_content p {
  margin-bottom:4px;
}

/* media galleries */

ul.media_thumbnail {
  padding:0px;
}

li.media_thumbnail {
  width:200px;
  height:200px;
  display:-moz-inline-stack;
  display:inline-block;
  vertical-align:top;
  margin:0px 10px 10px 0px;
  text-align:center;
  zoom:1;
. *display:inline;
}

/* icons */

img.media_icon{
  margin:0 4px;
  vertical-align:sub;
}
