/* @font-face */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('http://themes.googleusercontent.com/static/fonts/lato/v1/wkfQbvfT_02e2IWO3yYueQ.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('http://themes.googleusercontent.com/static/fonts/lato/v1/oUan5VrEkpzIazlUe5ieaA.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/lato/v1/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('http://themes.googleusercontent.com/static/fonts/lato/v1/9k-RPmcnxYEPm8CNFsH2gg.woff') format('woff');
}

body {
  background-color: #111;
  background-image: url("../images/background.png");
  color: #C3C3C3;
  font-family: sans-serif;
  padding: none;
  margin: 0px;
  height: 100%;
  font: 16px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family:'Lato', sans-serif;
}

form {
  margin: 0px;
  padding: 0px;
}

/* text styles */

h1{
  margin-bottom: 15px;
  margin-top: 15px;
  color: #fff;
  font-size: 1.875em;
}

h2{
  font-size: 1.375em;
  margin-top: 20px;
  color: #fff;
}

h3{
  border-bottom: 1px solid #333;
  font-size: 1.125em;
}

a {
  color: #86D4B1;
}

a.highlight {
  color: #fff;
}

label {
  font-weight: normal;
}

input, textarea {
  font-size:1em;
  font-family:'Lato', sans-serif;
}

/* website structure */

.mediagoblin_body {
  position: relative;
  min-height: 100%;
}

.mediagoblin_header {
  height: 36px;
  padding-top: 14px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}

a.mediagoblin_logo{
  color: #fff;
  font-weight: bold;
}

.header_submit, .header_submit_highlight{
  color: #272727;
  background-color: #aaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(##D2D2D2), to(#aaa)); 
  background-image: -webkit-linear-gradient(top, #D2D2D2, #aaa); 
  background-image:    -moz-linear-gradient(top, #D2D2D2, #aaa); 
  background-image:     -ms-linear-gradient(top, #D2D2D2, #aaa); 
  background-image:      -o-linear-gradient(top, #D2D2D2, #aaa); 
  background-image:         linear-gradient(top, #D2D2D2, #aaa);
  box-shadow: 0px 0px 4px #000;
  border-radius: 3px;
  margin: 8px;
  padding: 3px 8px;
  text-decoration: none;
  border: medium none;
  font-style: normal;
}

.header_submit_highlight{
background-image: -moz-linear-gradient(center top , rgb(134, 212, 177), rgb(109, 173, 144));
}

.mediagoblin_footer {
  height: 30px;
  border-top: 1px solid #333;
  bottom: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 0.875em;
}

.mediagoblin_content {
  padding-bottom: 74px;
}

.mediagoblin_header_right {
  float: right;
}

/* common website elements */

.button {
  height: 32px;
  min-width: 99px;
  background-color: #86d4b1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#86d4b1), to(#62caa2)); 
  background-image: -webkit-linear-gradient(top, #86d4b1, #62caa2); 
  background-image:    -moz-linear-gradient(top, #86d4b1, #62caa2); 
  background-image:     -ms-linear-gradient(top, #86d4b1, #62caa2); 
  background-image:      -o-linear-gradient(top, #86d4b1, #62caa2); 
  background-image:         linear-gradient(top, #86d4b1, #62caa2);
  box-shadow: 0px 0px 4px #000;
  border-radius: 3px;
  border: none;
  color: #272727;
  margin: 10px 0px 10px 15px;
  text-align: center;
  padding-left: 11px;
  padding-right: 11px;
  text-decoration: none;
  font-family:'Lato', sans-serif;
  font-size:1em;
}

.pagination{
text-align: center;
}

.pagination_arrow{
  margin: 5px;
}

.empty_space{
  background-color: #222;
  font-style: italic;
  text-align: center;
  height: 160px;
  padding-top: 70px;
}

/* forms */

.form_box {
  background-color: #222;
  background-image: url("../images/background_lines.png");
  background-repeat: repeat-x;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}

.edit_box {
  background-image: url("../images/background_edit.png");
}

.form_field_input input, .form_field_input textarea {
  width: 100%;
}

.form_field_box {
  margin-bottom: 24px;
}

.form_field_label,.form_field_input {
  margin-bottom: 4px;
}

.form_field_label {
  font-size:1.125em;
}

.form_field_description {
  font-style: italic;
}

.form_field_error {
  background-color: #87453b;
  color: #fff;
  border: none;
  padding: 9px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.form_submit_buttons {
  text-align: right;
}

/* comments */

.comment_author {
  margin-bottom: 40px;
  padding-top: 4px;
  font-size: 0.9em;
}

.comment_content p {
  margin-bottom: 4px;
}

/* media galleries */

.media_thumbnail {
  padding: 0px;
  width: 180px;
  overflow: hidden;
  float: left;
  margin: 0px 4px 10px 4px;
  text-align: center;
  font-size: 0.875em;
}

.media_thumbnail a {
  color: #eee;
  text-decoration: none;
}

/* media detail */

h2.media_title{
  margin-bottom: 0px;
}

p.media_uploader{
  font-size: 0.9em;
}

/* icons */

img.media_icon{
  margin: 0 4px;
  vertical-align: sub;
}

/* navigation */

.navigation_button{
  width: 139px;
  display: block;
  float: left;
  text-align: center;
  background-color: #333;
  text-decoration: none;
  padding: 12px 0pt;
  font-size: 2em;
  margin: 0 0 20px
}

p.navigation_button{
  color: #272727;
}

.navigation_left{
  margin-right: 2px;
}

/* messages */

ul.mediagoblin_messages {
  list-style: none inside;
  color: #f7f7f7;
}

.mediagoblin_messages li {
  margin: 5px 0;
  padding: 8px;
  text-align: center;
}

.message_success {
  background-color: #378566;
}

.message_warning {
  background-color: #87453b;
}

.message_error {
  background-color: #87453b;
}

.message_info {
  background-color: #378566;
}

.message_debug {
  background-color: #f7f7f7;
  color: #272727;
}

ul.mediaentry_tags {
  list-style-type: none;
}

ul.mediaentry_tags li {
  display: inline;
  margin: 0px 5px 0px 0px;
  padding: 0px;
}


/* media processing panel */

table.media_panel {
  width: 100%;
}

table.media_panel th {
  font-weight: bold;
  padding-bottom: 4px;
}
