body {
  background-color: #272727;
  color: #f7f7f7;
  font-family: sans-serif;
  padding:none;
  margin:0px;
}

/* Carter One font */

@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: normal;
  src: local('CarterOne'), url('http://themes.googleusercontent.com/font?kit=VjW2qt1pkqVtO22ObxgEBRsxEYwM7FgeyaSgU71cLG0') format('woff');
}

/* text styles */

h1 {
  font-family: 'Carter One', arial, serif;
  margin-bottom: 20px;
  margin-top:40px;
}

p {
  font-family: sans-serif;
  font-size:16px;
}

a {
  color: #86D4B1;
}

label {
  font-weight: normal;
}

/* website structure */

.mediagoblin_header {
  width:100%;
  height:36px;
  background-color:#393939;
  padding-top:14px;
  margin-bottom:40px;
}

a.mediagoblin_logo {
  width:34px;
  height:25px;
  margin-right:10px;
  background-image:url('../images/icon.png');
  background-position:0px 0px;
  display:inline-block;
}

a.mediagoblin_logo:hover {
  background-position:0px -28px;
}

.mediagoblin_container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.mediagoblin_header_right {
  float:right;
}

.button {
  font-family:'Carter One', arial, serif;
  height:32px;
  min-width:99px;
  background-color:#86d4b1;
  box-shadow:0px 0px 4px #000;
  border-radius:5px;
  border:none;
  color:#272727;
  margin:10px;
  font-size:1em;
  display:block;
  text-align:center;
  padding-left:11px;
  padding-right:11px;
}

/* common website elements */

.dotted_line {
  width:100%;
  height:0px;
  border-bottom: dotted 1px #5f5f5f;
  position:absolute;
  left:0px;
  margin-top:-20px;
}

/* forms */

.form_box {
  width:300px;
  margin-left:auto;
  margin-right:auto;
  background-color:#393939;
  padding:0px 83px 30px 83px;
  border-top:5px solid #d49086;
  font-size:18px;
}

.submit_box {
  width:600px;
}

.form_box h1 {
  font-size:28px;
}

.form_field_input input {
  width:300px;
  font-size:18px;
}

.form_field_box {
  margin-bottom:24px;
}

.form_field_label,.form_field_input {
  margin-bottom:4px;
}

.form_field_error {
  background-color:#87453b;
  border:none;
  font-size:16px;
  padding:9px;
  margin-top:8px;
  margin-bottom:8px;
}

/* media pages */

img.media_image {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

li.media_thumbnail {
        width: 200px;
        min-height: 250px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        zoom: 1;
        *display: inline;
        _height: 250px;
}
